/* AOS Animations */

[data-aos="fade-up-sm"] {
  transform: translate3d(0, 30px, 0);
}

[data-aos="fade-down-sm"] {
  transform: translate3d(0, -30px, 0);
}

[data-aos="fade-right-sm"] {
  transform: translate3d(-30px, 0, 0);
}

[data-aos="fade-left-sm"] {
  transform: translate3d(30px, 0, 0);
}

[data-aos="zoom-in-sm"] {
  transform: scale(0.95);
}

[data-aos*="reveal-anim"] {
  filter: blur(2px);
  transition-property: filter, opacity, transform, clip-path;
  &.aos-animate {
    filter: blur(0px);
    clip-path: inset(0 0 0 0);
  }

  &[data-aos*="-left"].aos-animate,
  &[data-aos*="-right"].aos-animate {
    @apply translate-x-0;
  }
  &[data-aos*="-up"].aos-animate,
  &[data-aos*="-down"].aos-animate,
  &[data-aos*="-top"].aos-animate,
  &[data-aos*="-bottom"].aos-animate {
    transform: translateY(0);
  }
}

[data-aos="reveal-anim-right"] {
  clip-path: inset(0 0 0 100%);
  transform: translateX(5%);
}

[data-aos="reveal-anim-left"] {
  clip-path: inset(0 100% 0 0);
  transform: translateX(-5%);
}

[data-aos="reveal-anim-up"] {
  clip-path: inset(100% 0 0 0);
  transform: translateY(5%);
}

[data-aos="reveal-anim-down"] {
  clip-path: inset(0 0 100% 0);
  transform: translateY(-5%);
}
@media (max-width: 767px) {
  [data-aos],
  [data-aos="fade-up-sm"],
  [data-aos="fade-down-sm"],
  [data-aos="fade-right-sm"],
  [data-aos="fade-left-sm"],
  [data-aos="zoom-in-sm"],
  [data-aos*="reveal-anim"] {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
    filter: none !important;
    clip-path: inset(0 0 0 0);
    will-change: auto !important;
  }
}
