---
/**
 * Example Usage
 
  <InfoBlockList imageSrc="/images/service/security-pic.png" imageAlt="Security">
    <InfoBlockItem title="Information Technology">
      Nemo enim ipsam voluptatem quia aut consequuntur on magni dolores eos qui
      ratione voluptatem sequi in neque porro quisquam est,
    </InfoBlockItem>
    <InfoBlockItem title="Cloud Services">
      Nemo enim ipsam voluptatem quia aut consequuntur on magni dolores eos qui
      ratione voluptatem sequi in neque porro quisquam est,
    </InfoBlockItem>
  </InfoBlockList>

 */

import OptimizedImage from "@/components/utilities/OptimizedImage.astro";

interface Props {
  imageSrc: string;
  imageAlt?: string;
  class?: string;
}

const { imageSrc, imageAlt = "alt text", class: className } = Astro.props;
---

<div
  class:list={[
    "my-10 flex flex-col gap-6 md:flex-row lg:my-15 lg:gap-15 xl:gap-30",
    className,
  ]}>
  <div class="order-2 flex-1 md:order-1">
    <ol class="border-border-dark/15 mt-0! w-full border-t">
      <slot />
    </ol>
  </div>
  <div
    class="order-1 mt-0! w-full md:order-2 md:w-80 lg:w-100 xl:w-138 [&_img]:m-0 [&_img]:h-full [&_img]:w-full [&_img]:object-cover [&_img]:object-right [&_img]:md:h-full">
    <OptimizedImage src={imageSrc} alt={imageAlt} width={600} height={500} />
  </div>
</div>
